# python misc files
*.pyc
*.swp
*.mp3

# pycharm ide misc files
*.idea/

# sublime files
*.sublime*

# pymode rope vim ide misc files
*.ropeprojects/

# ipython notebook misc files
*.ipynb_checkpoints/
